doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = "/jscolor/jscolor.js")
  body
    block content
    script(src="/javascripts/app.js")
